body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input, select
{
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.formAnot
{
    background-color: white;
    border: solid 0px;
    border-radius: 5px 5px 5px 5px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
    width: 46%;
    min-height: 400px;
    margin-top: 0px;
    margin-left: 50%;
    margin-right: 1%;
    margin-bottom: 1%;
    overflow:hidden;
    word-wrap: break-word;
}

textArea
{
    background-color: white;
    border-bottom: none;
    margin-top: 0px;
    border-radius: 5px 5px;
    padding:initial;
    height: 400px;
    width:100%;
    word-wrap: break-word;
}

form
{
    background-color: orange;
    margin: auto;
    margin-bottom: 5%;
    min-height: 300px;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    width: 45%;
}


fieldset
{
    padding-top: 4%;
}
input
{
    min-width: 70%;
}

#DirId
{
    min-width: 50%;
}

label
{
    text-align: left;
    min-width: 27%;
}
label, input
{
    display: inline-block;
}

.clear
{
    clear: both;
}

.pagConteudo
{
    background-color: #58ACFA;
    border:thick;
    border-radius: 5px 5px 5px 5px;
    margin-left: 1%;
    margin-bottom: 1%;
    width: 95%;
}

.nome
{
    padding-left: 10px;
    padding-right: 10px;
}

nav ul
{
    list-style-type: none;
    padding-top: 20px;
    padding-left: 30px;;
}

ul li
{
    background:#3A5FCD;
    border:solid 0px; 
    border-radius: 5px 5px 0 0;
    float: left;    
    font-size: 100%;  
    height:30px; 
    text-align: center; 
    padding-top:5px;
    margin-bottom: 0px;
}

.conteudo
{
    float: left;
    background-color: black;
    border: solid 0px;
    border-style: solid;
    border-radius: 5px 5px 5px 5px;
    width: 46%;
    margin-top: 0px;
    margin-left: 2%;
    margin-bottom: 1%;
    overflow:hidden;
    word-wrap: break-word;
}


hr
{
    clear: both;
}


.voltar, .proximo, .resumo, .home
{
    display: inline-block;
    background-color: #BDBDBD;
    border:        solid 1px;
    border-style:  solid;
    border-radius: 10px 10px 10px 10px;
    text-align:    center;
    padding-top:     0.2%;
    padding-bottom:  0.2%;
    position: relative;
    left: 73%;
    bottom: 10px;
    margin-top: 2%;
    width: 8%;
    overflow: hidden;
}

.tituloArq h2
{
    border-top: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
    background-color: aliceblue;
    margin-top: 2%;
    padding-left: 1%;
    text-align: left;
}

.conteuArq
{
    border: solid 1px;
    border-color: black;
    border-radius: 5px;
    background-color: lightskyblue;
    padding-left: 1%;
    word-wrap:break-word;
}

h2
{
    margin: auto;
    text-align: center;
}