body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

form
{
    background-color: orange;
    margin: auto;
    margin-bottom: 5%;
    min-height: 300px;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    width: 45%;
}

fieldset
{
    padding-top: 4%;
}
input
{
    min-width: 70%;
}

#DirId
{
    min-width: 50%;
}

label
{
    text-align: left;
    min-width: 27%;
}
label, input
{
    display: inline-block;
}

button
{
    cursor: pointer;
    text-align: center;
    margin-top: 5%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

h2
{
    align-content: center;
}

.pagina
{
    background-color: #58ACFA;
    border:thick;
    border-radius: 5px 5px 5px 5px;
    margin: auto;
    width: 90%;
}

nav ul
{
    list-style-type: none;
    padding-top: 20px;
    padding-left: 120px;
}

ul li
{
    background:#3A5FCD;
    border:solid 0px; 
    border-radius: 5px 5px 0 0;
    float: left;    
    font-size: 100%;  
    height:30px; 
    text-align: center; 
    padding-top:5px;
}

.conteudo
{
    background-color: white;
    border: solid 0px;
    border-style: solid;
    border-radius: 5px 5px 5px 5px;
    clear: both;
    min-height: 400px;
    width: 80%;
    margin-top: 0px;
    overflow:hidden;
    margin: auto;
    word-wrap: break-word;
}

.voltar, .proximo
{
    display: inline-block;
    background-color: #BDBDBD;
    border:        solid 1px;
    border-style:  solid;
    border-radius: 10px 10px 10px 10px;
    text-align:    center;
    padding-top:     0.2%;
    padding-bottom:  0.2%;
    position: relative;
    left: 73%;
    bottom: 10px;
    margin-top: 2%;
    width: 8%;
}
