
@{
    ViewBag.Title = "Anotacoes";
    var dic = (Dictionary<string, string>)Session["Dicionario"];}
}

<h2>Anotacoes</h2>

@{
    int prox = 0;
    foreach(string el in dic.Keys)
    {
        <div class="tituloArq"><h2>@el</h2></div>
        <div class="conteuArq"><pre>@dic[el]</pre></div>
        prox++;
    }
}

